/*ベース・共通部分 START*/
body{
    color: #333;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    margin: 0;
}
/*ベース・共通部分 END*/
/*ヘッダーSTART*/
.header{
    background-color: #4682b4;
    height: 100px;
    padding-left: 30px;
    position: fixed;
    width: 100%;
}
.header h1{
    color: #ffffff;
    font-size: 50px;
    line-height: 100px; /*ヘッダーの高さと合わせる*/
    
}
/*ヘッダー END*/
.heading{
    padding: 20px;
}
.heading h1, .heading p{
    text-align: center;
    letter-spacing: 1.5px;
}
.heading h1{
    font-size: 40px;
}
.heading p{
    font-size: 20px;
    padding-top: 3px;
}
.container{
    padding: 20px;
    display: flex;
}
.container + .container{ /*.containerの下に記述*/
    padding-top: 0;
}
.image-area{
    width: 50%;
}

.image-area img{
    width: 100%;
}
.image-area img:hover{
    opacity: 0.7;
    cursor: pointer;
}
.wrapper{
    padding: 15px;
    letter-spacing: 1.5px;
}
mark {
    background: linear-gradient(transparent 80%, #FFF100 0%);
    padding: 4px;
}
.wrapper h2{
    padding-bottom: 10px;
    font-size: 20px;
}
.wrapper a, .wrapper p,.wrapper ul{
    font-size: 18px;
    line-height: 20px;
}
.wrapper a{
    font-size: 25px;
}
.wrapper ul{
    margin-left: 20px;
}
.wrapper ul li{
    padding-bottom: 10px;
}

.content-area{
    width: 50%;
    padding: 30px;
}
.content-area h1{
    padding: 5px;
    font-size: 30px;
}

/*フッター START*/
.copyright{
    background-color: #4682b4;
    width: 100%;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}
/*フッター END*/
