/*ベース・共通部分 START*/
body{
    color: #333;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    margin: 0;
    background-color: #f0f8ff;
}
/*ベース・共通部分 END*/
/*ヘッダーSTART*/
.header{
    background-color: #4682b4;
    height: 100px;
    padding-left: 30px;
    position: fixed;
    width: 100%;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); /*ヘッダー下の影*/
}
.header h1{
    color: #ffffff;
    font-size: 50px;
    line-height: 100px; /*ヘッダーの高さと合わせる*/
    
}
/*ヘッダー END*/
/*メイン START*/
.main{
    padding-top: 120px;
}
.heading{
    padding: 20px;
}
.heading h1, .heading p{
    text-align: center;
    letter-spacing: 1.5px;
}
.heading h1{
    font-size: 40px;
}
.heading p{
    font-size: 20px;
    padding-top: 3px;
}
.container{
    padding: 20px;
    display: flex;
}
.container + .container{ /*.containerの下に記述*/
    padding-top: 0;
}
.image-area{
    width: 50%;
}

.image-area img{
    width: 100%;
}
.wrapper{
    padding: 15px;
    letter-spacing: 1.5px;
}
span {
    background: linear-gradient(transparent 80%, #FFF100 0%);
    padding: 4px;
}
.wrapper h2{
    padding-bottom: 10px;
    font-size: 20px;
}
.wrapper a, .wrapper p,.wrapper ul{
    font-size: 18px;
    line-height: 20px;
}
.wrapper a{
    font-size: 25px;
    transition: all 0.3s;
}
.wrapper a:hover{
    color: #cf1126;
}
.wrapper ul{
    margin-left: 20px;
}
.wrapper ul li{
    padding-bottom: 10px;
}

.content-area{
    width: 50%;
    padding-left: 30px;
}
.content-area h1{
    font-size: 30px;
}
/*メイン END*/

/*フッター START*/
.copyright{
    background-color: #4682b4;
    width: 100%;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}
/*フッター END*/

/*スマホ・タブレット表示 START*/
@media (max-width: 768px) {
    /*ヘッダー START*/
    .header{
        height: 80px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3); /*ヘッダー下の影*/
    }
    
    .header h1{
        font-size: 30px;
        line-height: 80px; /*ヘッダーの高さと合わせる*/
    }
    /*ヘッダー END*/

    /*メイン START*/
    .main{
        padding-top: 100px;
    }
    .heading{
        padding: 10px;
    }
    .heading h1, .heading p{
        text-align: center;
        letter-spacing: 1px;
    }
    .heading h1{
        font-size: 25px;
    }
    .heading p{
        font-size: 15px;
        /*padding-top: 3px;*/
    }
    .container{
        padding: 5px;
        display: block;
    }
    .image-area{
        width: 100%;
    }
    
    .wrapper{
        padding-bottom: 10px;
        letter-spacing: 1px;
    }
    .wrapper h2{
        padding-bottom: 5px;
        font-size: 15px;
    }
    .wrapper a, .wrapper p,.wrapper ul{
        font-size: 15px;
    }
    
    .content-area{
        width: 100%;
        padding-top: 10px;
        padding-left: 0;
        margin-bottom: 50px;
    }
    .content-area h1{
        padding: 0;
        font-size: 20px;
    }
    /*メイン END*/

    

    
}
/*スマホ・タブレット表示 END*/